{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block profile %}{% endblock %}
{% load crispy_forms_tags %}
{% block content%}
<div class="clearfix">
    <button id="btnAddNewProject" class="btn btn-secondary float-right">View Internship List</button>
    <h1 class="h3 mb-3">Internship Information</h1>
</div>
<!-------------------------------------------------->
<div class="row">
    <div id="create-new-projectform" class="col-12">
        <!--  col-md-6 -->
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Add Internship Form</h5>
                <h6 class="card-subtitle text-muted">This table is for all Internship information</h6>
            </div>
            <div class="card-body">
                <!-- {{ form.media.js }} -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- When Edit is not working add this -->
                    {{ form.media.js }}

                    <!-- {{ form|crispy }} -->
                    <div class="row">
                        <div class="col-md-6">
                            {{form.internship_no|as_crispy_field}}
                        </div>
                        <div class="col-md-6">
                            {{form.internship_title|as_crispy_field}}
                        </div>
                        <div class="col-md-12">
                            {{form.details|as_crispy_field}}
                        </div>
                        <div class="col-md-12">
                            {{form.internship_report|as_crispy_field}}
                        </div>

                        <!-- Start combobox data -->
                        <div class="form-group col-md-6">
                            <div class="form-group purple-border">
                                <label for="faculty">Faculty :<sup>*</sup></label>
                                <select class="form-control select2" data-toggle="select2" id="facultyCombobox"
                                    name="facultyCombobox">
                                    <option value="{{internshipData.faculty_id}}" selected="selected">
                                        {{internshipData.faculty}}</option>
                                    <optgroup label="Select Faculties">

                                        {% for item in f_data %}
                                        <option value="{{item.id}}">{{item.faculty_name}}
                                        </option>
                                        {% endfor %}

                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="form-group purple-border">
                                <label for="department">Department :<sup>*</sup></label>
                                <select class="form-control select2" data-toggle="select2" id="departmentCombobox"
                                    name="departmentCombobox">
                                    <option value="{{internshipData.department_id}}" selected="selected">
                                        {{internshipData.department}}</option>
                                    <optgroup label="Select Department">
                                        {% for j in d_data %}
                                        <option value="{{j.id}}" class="{{j.facultyName_id}}">
                                            {{j.department_name}}
                                        </option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                        </div>



                        <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12" style="margin-right: 50%">
                            <div class="form-group purple-border">
                                <label for="supervisor">Supervisor :<sup>*</sup></label>
                                <select class="form-control select2" data-toggle="select2" id="supervisorCombobox"
                                    name="supervisorCombobox">
                                    <option value="{{internshipData.supervisor_id}}" selected="selected">
                                        {{internshipData.supervisor.initial}}</option>
                                    <optgroup label="Select Supervisor">
                                        {% for supervisor in s_data %}
                                        <option value="{{supervisor.id}}" class="{{supervisor.department_id}}">
                                            {{supervisor.initial}}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <!-- End  combobox data -->
                        <!-- Add Student  -->
                        <div class="form-group col-md-3">
                            <label for="student_id_1">Student Id :<sup>*</sup></label>
                            <input id="student_id_1" name="student_id_1" value="{{internshipData.student_id_1}}"
                                placeholder="Enter First Student Id" class="form-control input-md" type="text" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="student_id_2">Student Id :</label>
                            <input id="student_id_2" name="student_id_2" value="{{internshipData.student_id_2}}"
                                placeholder="Enter Second Student Id" class="form-control input-md" type="text">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="student_id_3">Student Id :</label>
                            <input id="student_id_3" name="student_id_3" value="{{internshipData.student_id_3}}"
                                placeholder="Enter Third Student Id" class="form-control input-md" type="text">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="student_id_4">Student Id :</label>
                            <input id="student_id_4" name="student_id_4" value="{{internshipData.student_id_4}}"
                                placeholder="Enter Fourth Student Id" class="form-control input-md" type="text">
                        </div>

                    </div>


                    {% url 'createInternship' as my_create %}
                    <!-- {% url 'update' as my_update %} -->
                    {% if request.path == my_create %}
                    <button id="saveButton" type="submit" class="btn btn-success">Save</button>
                    <button class="btn btn-warning" type="reset" value="reset">Reset</button>

                    {% else %}
                    <button id="updateButton" type="submit" class="btn btn-warning">Update</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Table Data Display -->
{% url 'createInternship' as my_create %}
<!-- {% url 'update' as my_update %} -->
{% if request.path == my_create %}
<div class="row" id="projectTableData">
    <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Existing Internship Information</h5>
                <h5 class="text-muted">you can manipulate table data</h5>
            </div>
            <div class="card-body">
                <table id="datatables-buttons" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 15%">Internship No</th>
                            <th>Internship Title</th>
                            <th>Faculty</th>
                            <th>Department</th>
                            <th>Supervisor</th>
                            <th>Students</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for i in internship_data_for_table %}
                        <tr>
                            <td>{{i.internship_no}}</td>
                            <td>{{i.internship_title}}</td>
                            <td>{{i.faculty}}</td>
                            <td>{{i.department}}</td>
                            <td>{{i.supervisor}}</td>
                            <td>{{i.student_id_1}}<br>{{i.student_id_2}}<br>{{i.student_id_3}}<br>{{i.student_id_4}}
                            </td>

                            <td class="table-action">

                                <a id="editButton" href="{% url 'updateInternship' id=i.id %}"><i
                                        class="align-middle btn2" data-feather="edit-2"></i></a>
                                <a href="{% url 'deleteInternship' id=i.id %}" id="deleteButton"><i class=" deleteButton 
                                    align-middle" data-feather="trash"></i>
                                </a>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
{% block script%}
<script>
    $(document).ready(function () {

        //Combobox data mapping
        $("#departmentCombobox").chained("#facultyCombobox");
        // $("#supervisorCombobox").chained("#departmentCombobox");
        // $("#projectCategoryCombobox").chained("#departmentCombobox");

        //Button 
        $(".deleteButton").click(function () {
            return confirm('Are you sure you want to delete this item?')
        });

        //Edit Button 
        $("#btnAddNewProject").click(function () {

            $("#create-new-projectform").toggle(500);
            // $("#create-new-projectform").text('Add Project');
            $(this).text(function (i, v) {
                return v === 'View Internship List' ? 'Add Internship' : 'View Internship List'
            })

        });

    });

    //For combobox select2
    document.addEventListener("DOMContentLoaded", function (event) {
        // Select2
        $('.select2').each(function () {
            $(this)
                .wrap('<div class="position-relative"></div>')
                .select2({
                    placeholder: 'Select value',
                    dropdownParent: $(this).parent()
                });
        })

        // Datatables basic
        $('#datatables-basic').DataTable({
            responsive: false,
            "scrollX": true
        });
        // Datatables with Buttons
        var datatablesButtons = $('#datatables-buttons').DataTable({
            lengthChange: !1,
            buttons: ["copy", "print"],
            // responsive: true
            responsive: false,
            "scrollX": true
        });
        datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")

    });
</script>
{% endblock %}