{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block profile %}{% endblock %}

{% block script%}
<script>
  $(document).ready(function () {
    var endpoint = '/getData/'
    var defaultData = []
    var defaultLabels = []

    var defaultThesisData = []
    var defaultThesisLabels = []

    var defaultInternshipLabels = []
    var defaultInternshipData = []
    // console.log(endpoint)
    // console.log("/hello")

    $.ajax({
      method: "GET",
      url: endpoint,
      success: function (data) {
        defaultLabels = data.labels
        defaultData = data.defaultData

        defaultThesisData = data.thesisListData
        defaultThesisLabels = data.labelsThesis

        defaultInternshipLabels = data.labelsInternship
        defaultInternshipData = data.internshipListData

        setChart()
        thesisChart()
        internshipChart()
        // console.log(data)
        // var ctx = document.getElementById('myChart').getContext('2d');
        // var myChart = new Chart(ctx, {
        //     type: 'bar',
        //     data: {
        //         labels: defaultLabels,
        //         datasets: [{
        //             label: '# of Votes',
        //             data: defaultData,
        //         }]
        //     }
        // })

        //end
      },
      error: function (error_data) {
        console.log("error")
        console.log(error_data)
      }
    })

    function setChart() {
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: defaultLabels,
          datasets: [{
            label: 'Projects',
            data: defaultData,



            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });

    } //end of function

    //Start THesis Chart
    function thesisChart() {
      var ctx = document.getElementById('thesisChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: defaultThesisLabels,
          datasets: [{
            label: 'Thesis',
            data: defaultThesisData,



            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });

    } //end of function
    //End Thesis Chart

    function internshipChart() {

      var ctx = document.getElementById('internshipChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: defaultInternshipLabels,
          datasets: [{
            label: 'Internship',
            data: defaultInternshipData,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });

    } //end of internship chart
  }); //end of document ready function
</script>
{% endblock %}

{% block content%}

<!-- <h1>Hello</h1> -->
</section>
<div class="row mt-2">
  <div class="col-md-12 col-lg-12">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title">Department Wise Project</h5>
        <h6 class="card-subtitle text-muted">A bar chart provides a way of showing data values represented as vertical
          bars.</h6>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End of project Data  -->

<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title">Department Wise Thesis</h5>
        <h6 class="card-subtitle text-muted">A bar chart provides a way of showing data values represented as vertical
          bars.</h6>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="thesisChart"></canvas>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- End of Thesis Chart  -->
<div class="row">
  <div class="col-12 col-lg-12">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <h5 class="card-title">Department Wise Internship</h5>
        <h6 class="card-subtitle text-muted">A bar chart provides a way of showing data values represented as vertical
          bars.</h6>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="internshipChart"></canvas>
        </div>
      </div>
    </div>

  </div>
</div>


{% endblock %}