{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block profile %}{% endblock %}
{% block content%}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Internship List</h5>
        </div>
        <div class="card-body">
            <table id="datatables-buttons" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:15%">Internship No</th>
                        <th>Internship Title</th>
                        <th>Supervisor</th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in i_data %}
                    <tr>
                        <td>{{i.internship_no}}</td>
                        <td>{{i.internship_title}}</td>
                        <td>{{i.supervisor}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>


{% endblock %}
{% block script%}
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        // Datatables basic
        $('#datatables-basic').DataTable({
            // responsive: true
            responsive: false,
            "scrollX": true
        });
        // Datatables with Buttons
        var datatablesButtons = $('#datatables-buttons').DataTable({
            lengthChange: !1,
            buttons: ["copy", "print", ],
            // responsive: true
            responsive: false,
            "scrollX": true
        });
        datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
    });
</script>

{% endblock %}